body{
	max-width: 1700px;
	margin: 0 auto;
}

.navbar li>a {
	text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
}

.navbar.navbar-default .dropdown-menu li > a {
    font-size: 13px;
    padding: 10px 16px;
}
.navbar{
    margin-bottom: 0px;
    width: 100%;
    background: transparent;
    z-index: 1000;
    transition: background-color 0.3s ease;
}
.navbar.navbar-default{
    position: fixed;
    max-width:1700px;
}
.navbar .container{
    padding: 20px 30px;
    transition: padding 0.3s ease;
}

.page-header > b{
    text-shadow: 0px 0px 2px #000000;
    color: #fff;
}

header {
	text-align: center;
}

.header-content{
	margin: 8em auto;
}

.header-content h1{
	font-size: 60px;
}

.footer {
  display: block;
  background: #474747;
  color: #fff;
  margin-top: -20px;
}
.footer a {
    color: #ddd !important;
}
.footer a:hover {
    color: #fff !important;
}
.footer .btn-block .btn {
    font-size: 14px;
    font-weight: 400;
}
.footer .btn-block a {
    font-size: 13px;
}
.footer .copyright {
    display: inline-block;
    margin: 15px;
}
.footer p {
    font-size: 16px;
}

.icons {
	padding: 0;
}

.social{
	padding-right: 0 !important;
}

.icons li{
	list-style-type: none;
	padding: 2px;
    transition: background-color 0.7s;
    border-left: 1px solid #ddd;
}

.icons li:hover{
    background-color: #e3e3e3;
    cursor: pointer;
}
.icons .col-md-3 a{
    display: block;
    color:#000;
    text-align: center;
    line-height: 100px;
    font-size: 16px;
    box-sizing: border-box;
}

a.btn.fa{
	font-size: 12px;
}

.extra{
    background: transparent;
    position: relative;
}
.box{
    border: 1px solid #aaa;
    padding: 10px;
    z-index: 6;
    background: #fff;
    position: relative;
    border-bottom-right-radius: 110px 5px;
    border-bottom-left-radius: 110px 5px;
}
.notice::after{
    position: absolute;
    content: '';
    width: 50%;
    height: 5px;
    bottom: 7px;
    box-shadow: -2px 6px 10px;
    z-index: 0;
    transform: rotate(1deg);
}
.notice::before{
    position: absolute;
    content: '';
    width: 50%;
    height: 5px;
    bottom: 7px;
    box-shadow: 2px 6px 10px;
    z-index: 0;
    left: 0;
    transform: rotate(-1deg);
}

.boardPin {
    width: 2em;
    float: right;
    margin-top: -8px;
    margin-right: -8px;
}

@media screen and (max-width: 800px) {
	.header-content h1{
		font-size: 30px;
	}

	.icons .col-md-3 a{
		line-height: 60px;
	}

	.copyright{
		padding: 1.5em 0 0 0;
		font-size: 11px;
	}
}

/*======================== breadcrumbs ====================================*/
       
.breadcrumb {
    background: #fff;
    overflow: hidden;
}

.breadcrumb span {
    /*text-decoration: none;*/
    outline: none;
    font-size: 11px;
    padding-left: 25px;
    line-height: 36px;
    color: #000;
    background: #666;
    background: linear-gradient(#666, #333);
    position: relative;
}

.breadcrumb >.active{
    color: #000;
}

.breadcrumb span:first-child {
    border-radius: 5px 0 0 5px;
}
.breadcrumb span:first-child:before {
    left: 14px;
}
.breadcrumb span:last-child {
    border-radius: 0 5px 5px 0;
}

.breadcrumb span::after {
    content: '';
    position: absolute;
    top: 0; 
    right: -18px;
    width: 36px; 
    height: 36px;
    transform: scale(0.707) rotate(45deg);
    z-index: 1;
    box-shadow: 2px -2px 0 2px #fff, 3px -3px 0 2px #fff;
    border-radius: 0 5px 0 50px;
}

.breadcrumb span:last-child::after {
    content: none;
}

.breadcrumb span::before {

    border-radius: 100%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 8px 0;
    position: absolute;
    top: 0;
    left: 30px;
    font-weight: bold;
}
.breadcrumb span:nth-child(1)::before{content: '1';}
.breadcrumb span:nth-child(2)::before{content: '2';}
.breadcrumb span:nth-child(3)::before{content: '3';}
.breadcrumb span:nth-child(4)::before{content: '4';}
.breadcrumb span:nth-child(5)::before{content: '5';}

.flat span, .flat span::after {
    background: #ddd;
    color: black;
    transition: all 0.5s;
}
.flat span::before {
    background: #fff;
    box-shadow: 0 0 0 1px #ccc;
    color: #000;
}
.flat span.active, .flat span.active::after{
    background: #cf3d3d;
    color: #fff;
    font-weight: 500;
}

@media screen and (max-width: 1200px){
    .flat span::before{
        display: none;
    }
}

@media screen and (max-width: 768px){
    .flat span::after{
        display: none;
    }
    .flat span::before{
        display: block;
    }
    .breadcrumb.flat > span{
        border-radius: 5px;
    }

    .main {
        margin-top: 1.5em;
    }
}

.bg-theme{
    background-color: #cf3d3d !important;
}
.bg-theme.btn{
    color: #fff;
}

.panel > .table-responsive{
    padding: 15px 0px;
}
.panel > .panel-body{
    padding: 0;
}

.form-group label.control-label{
    font-size: 16px;
    text-align: left;
}

.parallax {
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.help-block {
    color: #f00;
    display: block !important;
}
.form-group .help-block {
    margin-top: -9px;
    font-size: 11px;
}

.panel.panel-primary > .panel-heading {
    background-color: #cf3d3d;
}
.panel.panel-off > .panel-heading {
    background-color: #A9A9A9;
}

blockquote {
    letter-spacing: 1px;
}

.pagination {
    display: block;
    width: 17.1em;
    margin: 0 auto;
}

.pagination .active > a, .pagination .active > a:hover, .pagination .active > a:active{
    background-color: #cf3d3d;
    border: 1px solid #cf3d3d;
    color: #fff; 
}

.hint-text {
    position: absolute;
    right: 0;
    display: none;
    /*border-left: 1px solid #ddd;*/
}

div[data-hint="true"]:hover + .hint-text {
    display: block;
}

select > option {
    padding-left: 10px;
}

.parallax > .panel.panel-default {
    background-color: rgba(0,0,0,0.4);
    color: #fff;
}

#panel-text-left {
    max-width:320px;
    margin: 0 auto;
    padding:15px;
}

#cursor-auto {
    cursor: auto;
}
#preview img {
    width: 100%;
}